@charset "utf-8";
/* =============================================================================
   BASIC
   ========================================================================== */
html, body { margin:0px; padding:0px; height:100%; }
body, th, td, input { font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; font-size:14px; line-height: 120%; }
a{ text-decoration: none;}
b{ font-weight:normal;}
p{ line-height:2em; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight:400;}
h1{ font-size:40px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
h2{ font-size:26px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; line-height: 180%; }
h3{ font-size:18px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; line-height: 120%; font-weight:bold; }
h4{ font-size:16px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; font-weight:bolder; line-height:0;}
h5{ font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
h6{ font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
a:link, a:visited { text-decoration:none; cursor:pointer; }
table,th,td { margin:0; padding:0; border:none; outline:none; border-collapse:collapse; border-spacing:0; }
body {	
	background:url(images/bg.gif);
	background-color:#FFF;
}
/*----------------- link --------------------*/
.white-blink:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
}
.white-blink:link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
}
.white-blink:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#000;
	font-weight:bold;
}
.white-link:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
.white-link:link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
}
.white-link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F30;
	text-decoration:underline;
}
.li-white-link:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-decoration:underline;
}
.li-white-link:link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-decoration:underline;
}
.li-white-link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F30;
	text-decoration:none;
}
.blue-link:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0066cc;
	text-decoration:underline;
}
.blue-link:link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0066cc;
	text-decoration:underline;
}
.blue-link:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#F30;
	text-decoration:none;
}
#msg{
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	clear:both;
	margin:0 auto;
	text-align:center;
	background-color:white;
	font-size:24px;
	color:red;
	padding-top:10px;
	padding-bottom:10px;
}
/*----------------- 最外層包裝 --------------------*/
#wrapper {
	width: 1000px;
	position:relative;
	text-align:left;
}
/*-----------------MENU_手機板選單--------------------*/
#m_top_menu { display:none; }
#top_menu { display:none; }
/*----------------- index --------------------*/
#index-pic{
	width:1000px;
	float:left;
	text-align:center;
	padding-top:50px;
	padding-bottom:104px;
}
#index-btn {
	position:absolute;
	width:784px;
	height:166px;
	z-index:1;
	left: 118px;
	top: 599px;
}
#index-btn ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#index-btn li {
	min-width:136px;
	list-style-type:none;
	display:block;
	margin-left:6px;
	margin-right:6px;
	float:left;
}
#index-btn li.start {
	min-width:136px;
	list-style-type:none;
	display:block;
	margin-left:6px;
	margin-right:6px;
	float:left;
}
#index-btn-2 {
	display:none;
}
/*----------------- in --------------------*/
#in-btn {
	position:absolute;
	width:387px;
	height:274px;
	z-index:1;
	left:20px;
	top:20px;
}
#in-btn-menu {
	position:absolute;
	width:500px;
	z-index:3;
	left:20px;
	top:200px;
}
#in-btn-menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#in-btn-menu li {
	width:94px;
	height:94px;
	list-style-type:none;
	display:block;
	margin-left:2px;
	margin-right:2px;
	float:left;
}
#in-btn-menu li img {
	width:100%;
}
#in-btn-go {
	position:absolute;
	width:149px;
	height:188px;
	z-index:1;
	left:486px;
	top:366px;
}
#in-btn-go img {
	width:100%;
}
#cards-pic{
	width:1000px;
	float:left;
	text-align:center;
	padding-top:90px;
	padding-bottom:96px;
}
#cards-pic-2{
	width:1000px;
	float:left;
	padding-top:74px;
}
#cards-pic-2 img{
	width:100%;
	height:auto;
}
#card-open {
	position:absolute;
	width:458px;
	height:662px;
	z-index:0;
	left:370px;
	top:80px;
}
#wadilie {
	position:absolute;
	width:484px;
	height:334px;
	z-index:1;
	left:40px;
	top:531px;
}
#words{
	width:80%;
	float:left;
	padding:102px 20px 20px 20px;
	background-color:#FFF;
	border:2px #F60 solid;
	margin-top:170px;
	margin-bottom:50px;
	margin-left:9%;
	border-radius:15px;
	filter: Alpha(Opacity=85);
	opacity: 0.85;
}
#words table {
	width:100%;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	text-align:left;
}
#words th {
	padding:5px 5px 5px 5px;;
	border-bottom:1px #CCC dashed;
}
#words td {
	padding:5px 5px 5px 5px;;
	border-bottom:1px #CCC dashed;
}
#words img.p{
	width:95%;
	border-radius:8px;
}
#in-btn-go2 {
	position:absolute;
	width:91px;
	height:91px;
	z-index:1;
	left:701px;
	top:631px;
}
#in-btn-go2 img {
	width:100%;
}
#in-w {
	position:absolute;
	width:371px;
	height:56px;
	z-index:1;
	left:25px;
	top:330px;
}
#in-w img {
	width:100%;
}
#in-w2 {
	position:absolute;
	width:345px;
	height:auto;
	z-index:1;
	left:25px;
	top:330px;
}
#in-w2 img {
	width:100%;
}
/*----------------- footer --------------------*/
#footer-1{
	width:100%;
	clear:both;
	margin:0 auto;
	text-align:center;
	background-color:#e70012;
}
#footer-2{
	display:none;
	width:100%;
	clear:both;
	margin:0 auto;
	text-align:center;
	background-color:#FFF;
	font-size:12px;
	color:#666;
	padding-top:10px;
	padding-bottom:10px;
}


/*平板*/
@media only screen and (max-width:800px) {

/*----------------- 最外層包裝 --------------------*/
#wrapper {
	width:100%;
	margin:0 auto;
	text-align:left;
}
/*----------------- index --------------------*/
#index-pic{
	width:100%;
	float:left;
	text-align:center;
	padding-top:40px;
	padding-bottom:60px;
}
#index-pic img{
	width:100%;
	height:auto;
}
#index-btn {
	position:absolute;
	width:100%;
	height:auto;
	z-index:1;
	left:auto;
	right:auto;
	top:530px;
}
#index-btn ul {
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
}
#index-btn li {
	min-width:0px;
	width:15%;
	list-style-type:none;
	display:block;
	margin-left:2%;
	margin-right:2%;
	float:left;
}
#index-btn li img {
	width:100%;
	height:auto;
}
#index-btn li.start {
	min-width:0px;
	width:20%;
	list-style-type:none;
	display:block;
	margin-top:0px;
	margin-left:2%;
	margin-right:2%;
	float:left;
}
#index-btn li.start img {
	width:100%;
	height:auto;
}
#index-btn-2 {
	display:none;
}
/*----------------- in --------------------*/
#in-btn {
	position:absolute;
	width:35%;
	height:auto;
	z-index:1;
	left:10px;
	top:10px;
}
#in-btn img{
	width:100%;
}
#in-btn-menu {
	position:absolute;
	width:50%;
	z-index:3;
	left:10px;
	top:150px;
}
#in-btn-menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#in-btn-menu li {
	width:18%;
	height:18%;
	list-style-type:none;
	display:block;
	margin-left:2px;
	margin-right:2px;
	float:left;
}
#in-btn-menu li img {
	width:100%;
}
#in-btn-go {
	position:absolute;
	width:149px;
	height:188px;
	z-index:1;
	left:50%;
	top:300px;
}
#in-btn-go img {
	width:100%;
}
#cards-pic{
	width:100%;
	float:left;
	text-align:center;
	padding-top:80px;
	padding-bottom:82px;
}
#cards-pic img{
	width:100%;
	height:auto;
}
#cards-pic-2{
	width:100%;
	float:left;
	padding-top:50px;
}
#cards-pic-2 img{
	width:100%;
	height:auto;
}
#card-open {
	position:absolute;
	width:50%;
	height:auto;
	z-index:0;
	left:35%;
	top:80px;
}
#card-open img {
	width:100%;
}
#wadilie {
	display:none;
}
#words{
	width:90%;
	float:left;
	padding:60px 20px 20px 20px;
	background-color:#FFF;
	border:2px #F60 solid;
	margin-top:140px;
	margin-bottom:50px;
	margin-left:2%;
	border-radius:15px;
	filter: Alpha(Opacity=85);
	opacity: 0.85;
}
#in-btn-go2 {
	position:absolute;
	width:15%;
	height:auto;
	z-index:1;
	left:60px;
	top:230px;
}
#in-btn-go2 img {
	width:100%;
}
#in-w {
	position:absolute;
	width:38%;
	height:auto;
	z-index:1;
	left:10px;
	top:230px;
}
#in-w2 {
	position:absolute;
	width:45%;
	height:auto;
	z-index:1;
	left:38%;
	top:20px;
}
/*----------------- footer --------------------*/
#footer-1 img{
	width:100%;
}

	}



/*手機板*/
@media only screen and (max-width:570px) {

#m_top_menu {
	display:block;
	position:absolute;
	top:3px;
	left:90%;
	z-index:999;
	width:40px;
	height:40px;
	background:#F60 url(images/m_topmenu_bg.png) no-repeat;
	text-indent:-9999px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:20px;	
}
#m_top_menu:hover {
	background:#000 url(images/m_topmenu_bg.png) no-repeat;
}
#top_menu {
	display:none;
	width:150px;
	position:absolute;
	top:45px;
	right:0px;
	border-radius:10px 0 0 10px;
	background:#F60;
	filter: Alpha(Opacity=95);
	opacity: 0.95;
	z-index:999;
}
#top_menu ul {
	margin:0;
	padding:0;
	overflow:hidden;
}
#top_menu ul li {
	width:90%;
	text-align:center;
	margin-left:5%;
	padding-top:8px;
	padding-bottom:8px;
	list-style:none;
	clear:both;
	float:left;
	border-bottom:1px #F93 dashed;
}
/*----------------- index --------------------*/
#index-btn {
	display:none;
}
#index-btn-2 {
	display:block;
	position:absolute;
	width:30%;
	height:auto;
	z-index:3;
	left:35%;
	top:260px;
}
#index-btn-2 img {
	width:100%;
	height:auto;
}
/*----------------- in --------------------*/
#in-btn {
	position:absolute;
	width:50%;
	height:auto;
	z-index:1;
	left:10px;
	top:10px;
}
#in-btn img{
	width:100%;
}
#in-btn-menu {
	display:none;
}
#in-btn-go {
	position:absolute;
	width:149px;
	height:188px;
	z-index:1;
	left:40%;
	top:200px;
}
#in-btn-go img{
	width:80%;
}
#cards-pic{
	width:100%;
	float:left;
	text-align:center;
	padding-top:80px;
	padding-bottom:50px;
}
#cards-pic-2{
	width:100%;
	float:left;
	padding-top:190px;
}
#card-open {
	position:absolute;
	width:60%;
	height:auto;
	z-index:0;
	left:20%;
	top:140px;
}
#card-open img {
	width:100%;
}
#words{
	width:95%;
	float:left;
	padding:30px 10px 10px 10px;
	background-color:#FFF;
	border:2px #F60 solid;
	margin-top:100px;
	margin-bottom:50px;
	margin-left:0;
	border-radius:15px;
	filter: Alpha(Opacity=85);
	opacity: 0.85;
}
#in-btn-go2 {
	position:absolute;
	width:15%;
	height:auto;
	z-index:1;
	left:255px;
	top:390px;
}
#in-btn-go2 img {
	width:100%;
}
#in-w {
	position:absolute;
	width:90%;
	height:auto;
	z-index:1;
	left:5%;
	top:140px;
}
#in-w2 {
	position:absolute;
	width:60%;
	height:auto;
	z-index:1;
	left:17%;
	top:80px;
	background:#C00;
	padding:10px 10px 10px 10px;
	border-radius:15px;
}
/*----------------- footer --------------------*/
#footer-2{
	display:none;
	width:100%;
	clear:both;
	margin:0 auto;
	text-align:center;
	background-color:#FFF;
	font-size:10px;
	color:#666;
	padding-top:10px;
	padding-bottom:10px;
}

	}
