@charset "utf-8";
/* =============================================================================
   BASIC
   ========================================================================== */
html, body { margin:0px; padding:0px; height:100%; }
body, input { font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; font-size:90%; line-height: 140%; }
th, td {margin:0; padding:0; }
p{ font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; line-height:140%; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight:400;}
h1{ font-size:40px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
h2{ font-size:28px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; color:#a0823a; font-weight:bolder;}
h3{ font-size:18px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; color:#86746b; }
h4{ font-size:16px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; font-weight:bolder; line-height:0;}
h5{ font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
h6{ font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
body {
	background:url(images/bg.gif);
}
a:visited {
	font-size: 100%;
	color:#e62310;
	text-decoration:none;
}
a:link {
	font-size: 100%;
	color:#e62310;
	text-decoration:none;
}
a:hover {
	font-size: 100%;
	color:#a18134;
	text-decoration:underline;
}
/*----------------- Font --------------------*/
.word-big-brown {
	font-size:24px;
	color:#a0823a;
	font-weight:bolder;
}
.word-mid-red {
	font-size:16px;
	color:#b53939;
	font-weight:bolder;
}
.word-red {
	color:#b53939;
	font-weight:bolder;
}
.word-gray {
	color:#999;
}
/*----------------- link --------------------*/
.white-link:visited{
	color:#FFF;
}
.white-link:link{
	color:#FFF;
}
.white-link:hover{
	color:#dab866;
}
.brown-link:visited{
	color:#86746b;
}
.brown-link:link{
	color:#86746b;
}
.brown-link:hover{
	color:#e62310;
}
.black-link:visited{
	color:#000;
	font-size:14px;
}
.black-link:link{
	color:#000;
	font-size:14px;
}
.black-link:hover{
	color:#e62310;
	font-size:14px;
}
/*----------------- 最外層包裝 --------------------*/
#wrapper {
	width: 1024px;
	position:relative;
	text-align:left;
}
/*----------------- content --------------------*/
#tai{
	width:100%;
	float:left;
}
#content{
	width:100%;
	background:#FFF;
	float:left;
	padding-bottom:30px;
}
#index-video{
	width:747px;
	clear:both;
	margin:0 auto 40px auto;
	padding:6px 6px 6px 6px;
	border:1px #dab866 solid;
}
#index-word-d{
	width:765px;
	clear:both;
	margin:10px auto 30px auto;
}
#index-word-d ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#index-word-d li {
	width:98%;
	list-style-type:none;
	background:url(images/icon-01.gif);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	clear:both;
	float:left;
	border-bottom:1px #CCCCCC dashed;
}
#in-item{
	width:100%;
	float:left;
	text-align:center;
	color:#86746b;
}
#in-word{
	width:765px;
	clear:both;
	margin:10px auto 30px auto;
}
#in-word table {
	width:100%;
	padding:0;
	margin:0;
	text-align:left;
}
#in-word th {
	padding:8px 15px 8px 15px;
}
#in-word td {
	padding:8px 15px 8px 15px;
}
#in-word td ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#in-word td li {
	width:98%;
	list-style-type:none;
	background:url(images/icon-01.gif);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	clear:both;
	float:left;
	border-bottom:1px #FFF dashed;
}
#in-news{
	width:765px;
	clear:both;
	margin:10px auto 30px auto;
}
#in-news table {
	width:100%;
	padding:0;
	margin:0;
	text-align:left;
}
#in-news th {
	padding:8px 8px 8px 8px;
	border-bottom:1px #CCC dashed;
}
#in-news td {
	padding:8px 8px 8px 8px;
	border-bottom:1px #CCC dashed;
}
#in-news img {
	padding:6px 6px 6px 6px;
	margin:6px 10px 6px 10px;
	border:1px #CCCCCC solid;
}
/*----------------- footer --------------------*/
#footer{
	width:100%;
	height:96px;
	background:url(images/footer-bg.jpg);
	clear:both;
	float:left;
}
#footer-logo{
	width:118px;
	float:left;
}
#footer-list{
	width:560px;
	float:right;
	text-align:right;
	margin-top:33px;
	margin-right:30px;
	color:#FFF;
}
/*----------------------- gotop ------------------------*/
#gotop {
	width:40px;
	height:40px;
	position: fixed;
	right:6%;
	bottom:50px;
	font-size:12px;
	z-index:99;
}
#gotop ul {
	padding:0;
	margin:0;
	list-style:none;
}
#gotop ul li a {
	padding:22px 9px 6px 9px;
	color:#FFF;
	background-color:#ff0000;
	background-image:url(images/gotop.png);
	background-repeat:no-repeat;
	background-position:center 4px;
    border-radius:30px;
	text-decoration:none;
}
/*----------------------- 插圖 ------------------------*/
#apDiv1 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
	left: 757px;
	top: 3133px;
}