@charset "utf-8";
/* =============================================================================
   BASIC
   ========================================================================== */
html, body { margin:0px; padding:0px; height:100%; }
body, th, td, input { font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; font-size:14px; line-height: 120%; }
a{ text-decoration: none;}
b{ font-weight:normal;}
p{ line-height:2em; margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{ font-weight:400;}
h1{ font-size:40px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
h2{ font-size:26px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; line-height: 180%; }
h3{ font-size:18px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; line-height: 120%; font-weight:bold; }
h4{ font-size:16px; font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; font-weight:bolder; line-height:0;}
h5{ font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
h6{ font-family:"Hiragino Kaku Gothic Pro","微軟正黑體","Microsoft Jhenghei",Helvetica,Arial,sans-serif; }
a:link, a:visited { text-decoration:none; cursor:pointer; }
table,th,td { margin:0; padding:0; border:none; outline:none; border-collapse:collapse; border-spacing:0; }
body {
	background:#e70012;
}
a:visited {
	font-size: 100%;
	color:#e62310;
	text-decoration:none;
}
a:link {
	font-size: 100%;
	color:#e62310;
	text-decoration:none;
}
a:hover {
	font-size: 100%;
	color:#000;
	text-decoration:underline;
}
/*----------------- Font --------------------*/
.word-red {
	font-size:100%;
	color:#ff0000;
}
.word-big-blue {
	font-size:125%;
	color:#03C;
	font-weight:bolder;
	line-height: 140%;
}
/*----------------- 最外層包裝 --------------------*/
#bg{
	width:100%;
	background:#5f8bff;
	float:left;
}
#wrapper {
	width: 1280px;
	position:relative;
	text-align:left;
}
/*----------------- content --------------------*/
#index{
	width:1280px;
	float:left;
}
/*-----------------MENU_手機板選單--------------------*/
#m_top_menu { display:none; }
#top_menu { display:none; }
/*----------------------- menu ------------------------*/
#menu {
	width:443px;
	position:absolute;
	right:2%;
	top:390px;
	font-size:12px;
	z-index:10;
}
#info {
	position:fixed;
	width: 100%;
	height: 100%;
	background: url(../images/info-bg.png);
	z-index:9999;
	top: 0;
	visibility:hidden;
}
#info2 {
	position:fixed;
	width: 100%;
	height: 100%;
	background: url(../images/info-bg.png);
	z-index:9999;
	top: 0;
	visibility:hidden;
}
#info-words{
	width:55%;
	height:500px;
	display:block;
	overflow-y:auto;
	margin:0 auto;
	border:1px #CCCCCC solid;
	padding:20px 20px 20px 20px;
	margin-top:100px;
	background:#FFF;
	text-align:left;
}
#info-words.priz{
	background:url(../images/pic-ticket.jpg);
	background-position:right top;
	background-repeat:no-repeat;
	background-color:#FFF;
	width:55%;
	height:500px;
	display:block;
	overflow-y:auto;
	margin:0 auto;
	border:1px #CCCCCC solid;
	padding:20px 20px 20px 20px;
	margin-top:100px;
	text-align:left;
}
#info-words ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
#info-words li {
	width:98%;
	list-style-type:none;
	background:url(../images/icon-01.gif);
	background-position:left top;
	background-repeat:no-repeat;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:15px;
	clear:both;
	float:left;
	border-bottom:1px #CCCCCC dashed;
}
#info-words li ol li {
	width:98%;
	list-style-type:none;
	background:none;
	display:block;
	padding-top:8px;
	padding-bottom:8px;
	padding-left:0;
	clear:both;
	float:left;
	border-bottom:0;
}
/*----------------- footer --------------------*/
#footer{
	width:100%;
	clear:both;
	float:left;
	background:#e70012;
	text-align:center;
}


/*平板-1*/
@media only screen and (max-width:1200px) {
/*----------------- content --------------------*/
#wrapper {
	width: 100%;
}
/*----------------- content --------------------*/
#index{
	width:100%;
}
#index img{
	width:100%;
}
/*----------------------- menu ------------------------*/
#menu {
	width:443px;
	top:330px;
}
#info-words img{
	width:100%;
}
/*----------------- footer --------------------*/
#footer img{
	width:100%;
}

		}


/*平板-2*/
@media only screen and (max-width:1000px) {
/*----------------------- menu ------------------------*/
#menu {
	width:400px;
	position:fixed;
	right:0;
	top:250px;
	font-size:12px;
	z-index:10;
}
#menu img {
	width:100%;
}
#info-words img{
	width:100%;
}
		}



/*平板-3*/
@media only screen and (max-width:800px) {
/*----------------------- menu ------------------------*/
#menu {
	display:none;
}
#m_top_menu {
	display:block;
	position:absolute;
	top:25px;
	left:90%;
	z-index:999;
	width:40px;
	height:40px;
	background:#0b6ac1 url(../images/m_topmenu_bg.png) no-repeat;
	text-indent:-9999px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:20px;	
}
#m_top_menu:hover {
	background:#000 url(../images/m_topmenu_bg.png) no-repeat;
}
#top_menu {
	display:none;
	width:150px;
	position:absolute;
	top:70px;
	right:0px;
	border-radius:10px 0 0 10px;
	background:#FFF;
	filter: Alpha(Opacity=80);
	opacity: 0.80;
	z-index:999;
}
#top_menu ul {
	margin:0;
	padding:0;
	overflow:hidden;
}
#top_menu ul li {
	width:90%;
	text-align:center;
	margin-left:5%;
	padding-top:8px;
	padding-bottom:8px;
	list-style:none;
	clear:both;
	float:left;
	border-bottom:1px #FFF dotted;
}
		}


/*平板-2*/
@media only screen and (max-width:680px) {
#info-words{
	width:55%;
	height:400px;
	display:block;
	overflow-y:auto;
	margin:0 auto;
	border:1px #CCCCCC solid;
	padding:20px 20px 20px 20px;
	margin-top:100px;
	background:#FFF;
	text-align:left;
}
		}